html {
    overflow: hidden;
}

.duck {
    width: 128px;
    height: 128px;
    position: absolute;
    background-image: url("duck.png");
    background-size: 128px;
    background-repeat: no-repeat;
    background-position: center;
}

.score {
    font-size: 1.5em;
    width: 128px;
    height: 128px;
    background: yellow;
    border: 1px solid purple;
    margin-left: auto;
    margin-right: auto;
}

.timer {
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
}