<h1>This is the index for the Node server</h1>

<p>You accessed this ejs website at: <%= date %></p>
<form method="get" action="/lotto">
    <button type="submit">Lotto numbers</button>
</form>
<a href="report/report/report.html">Report</a>